<div class="container" >
    <div class="content">
        <div class="row">
            <div class="col-12">
                <br>
                <h2 class="titulo">Lista de Intituição</h2>
                <br>
                <input type="text" class="txtPesquisa" id="pesquisa" placeholder="Pesquise por uma intituicao"
                 ng-model="search"/>
                <button for="inputPeriodoTurma" ng-click="pesquisaInstituicao()">pesquisa instituição</button>
               
                <div class="row">
                <div class="table-responsive col-md-9">
                    <table class="table table-bordered" >
                    
                    <tr>
                       
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Endereço</th>
                        <th class="actions">Ações</th>
                    </tr>
                    <tbody  ng-repeat="y in instituicoes | filter: search ">
                        
                        <td>{{ y.codInstituicao }}</td>
                        <td>{{ y.nomeInstituicao }}</td>
                        <td>{{ y.telefoneInstituicao }}</td>
                        <td>{{ y.enderecoInstituicao }}</td>
                        <td class="actions">
                          <button class="btn btn-danger" ng-click="delete(y.id)">Excluir</button>
                           
                    </tbody>

                </table>
                </div>

                

            </div>
        </div>
    </div>
</div>
</div>