<meta charset="utf-8">
<div class="container">

	<h3 class="page-header">Editar Turma</h3>


	<div class="row">
		<div class="row">
			<div class="form-group col-md-2">
				<label for="inputCod">Código:</label> 
				<input type="text" class="form-control" id="inputCod" readonly
                ng-model="vizualizarTurma.codTurma>
			</div>
			<div class="form-group col-md-3">
				<label for="inputPeriodoTurma">Periodo da turma:</label> <input type="text" class="form-control"
					id="inputPeriodoTurma" placeholder="informer o periodo da turma" ng-model="turmaDTO.periodoTurma">
			</div>
			<div class="form-group col-md-3">
				<label for="inputInstituicao">Instituição da turma:</label>
				<br>
				<select ng-model=" x.codInstituicao">
					<option class="list" ng-repeat="x in instituicoes" ng-value =" x.codInstituicao">
                         {{ x.codInstituicao }}</option>
				</select>
			</div>
			<button ng-click="saveInstiruicaoTurma(x.codInstituicao)">Salvar</button>
		</div>
		</div>
</div>